.cursor{
    cursor: pointer;
}
.showing{
    margin: 25px 0;
}
.block-button{
    float: left;
    padding-top: 26px;
    padding-left: 5px;
    padding-right: 5px;
}
.img-center{
    display: block;
    margin: 0 auto;
}
.top-left-part .logo{
    padding: 5px;
}
.login-box{
    border-radius: 6px;
    margin-top:15%;
}
.white-box{
    border-radius: 6px;
}
.customtab li.active a, .customtab li.active a:hover, .customtab li.active a:focus{
    color:#df001f;
    border-bottom: 2px solid #df001f;
}